.buttonWrapper{
  background-color: #090a0d;
  width: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.itemCell {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  transform: scale(0.8);
}

.itemCell:hover{
  transform: scale(0.81);
}
.itemCell:focus{
  outline: 1px solid transparent;
}

.cross > img
{
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 7px #02600a);
  -moz-filter: drop-shadow(0px 0px 7px #02600a);
  filter: drop-shadow(0px 0px 7px #02600a);
}
.zero > img
{
  -webkit-filter: drop-shadow(0px 0px 7px #994d00);
  -moz-filter: drop-shadow(0px 0px 7px #994d00);
  filter: drop-shadow(0px 0px 7px #994d00);
  width: 100%;
  z-index: 3;
}

.success {
  border: 2px solid darkgreen;
}
.error {
  border: 2px solid red;
}
.win {
  border: 2px solid orangered;
}