.buttonWrapper{
  background-color: #090a0d;
  width: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.itemCell {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  visibility: hidden;
}
.itemCell:hover{
  transform: scale(1.1);
}
.itemCell:focus{
  outline: 1px solid transparent;
}

.show {
  composes: itemCell;
  visibility: visible;
}

.success {
  border: 2px solid darkgreen;
}
.error {
  border: 2px solid red;
}
.win {
  border: 2px solid orangered;
}