.headerWrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    background-color: inherit;
    padding: 0 5%;
    box-shadow: 0 8px 10px rgba(159, 90, 12, 0.13);
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navContainer > * {
    text-decoration: none;
    padding: 0 0.6rem;
}
.inform {
    display: flex;
    flex-wrap: wrap;
}
.inform > span{
    margin: 0 15px;
}
.active {
    font-weight: 700;
}
.item {
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.4rem;
}
.item:hover {
    color: #adb5bd;
}