body
{
    font-family: -apple-system, Comfortaa, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1rem;

    margin: 0;

    color: #cecece;
    background-color: #090a0d;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 220px) and (max-width: 767px)
{
    body
    {
        font-size: 1rem;
    }
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
